# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipdb
*.iobj
*.log
*.tlog
*.ipch
*.opendb
*.db-wal
*.db-shm
*.db
Raycaster/.vs/Raytracer/v16/.suo
Raycaster/.vs/Raycaster/v16/.suo
Raycaster/Raytracer/Raytracer.vcxproj.user
*.idb
*.obj
*.pdb
*.json
*.bin
*.ilk
*.recipe
